[Unit]
Description=Runs a Flower client in a docker container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=no

WorkingDirectory={{ systemd_working_dir }}

ExecStartPre=-/usr/bin/docker kill -s 9 %i
ExecStartPre=-/usr/bin/docker rm %i
ExecStart=/usr/bin/docker run --pull always --rm --name %i -e role={{ flmodel_role }} -v {{ dataset_dir }}:/data -v {{ workspace_dir }}/code:/app {{ '-p 8080:8080' if flmodel_role == 'server' else '' }} nkakouros/flwr-run:latest

[Install]
WantedBy=multi-user.target
